<div class="content">

	<h1 class="dashboard-header">Dashboard</h1>

	<div class="dashboard-section">

		<h3>MY SHOWS</h3>

		<span style="float: right;"><%= link_to "+ Create a New Show", new_show_path, class:"blue-background medium button" %></span>

		<% Show.all.each do |show| %>

        	<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

		<% end %>

	</div>
	

</div>