<div class="content">

	<h1>Dashboard</h1>

	<span style="float: right;"><%= link_to "+ New Show", new_show_path, class:"blue-background medium button" %></span>

	<h3 class="underlined">Shows I Produce</h3>

	<h3 class="underlined">Shows Where I Perform</h3>

</div>