<div class="dashboard-header">
		
	<div class="dashboard-header-content">

		<div class="dashboard-header-top">
		
			<h1><%= location %> Comedy Shows</h1> 

			<p class="change-location-cta"><a class="modal-cta" data-modal-id="select-city">Change Location</a></p>

			<a class="dashboard-header-cta yellow-background" <% if user_signed_in? %>href="<%= new_show_path %>"<%else%>href="<%= signup_path %>"<%end%>>+ <span class="full-cta">Add a Show</span></a>

		</div>
		
	</div>

</div>