
<div class="home-hero textured-background">

	<div class="home-hero-content centered">
		
		<h1>Signup for free comedy tickets</h1>

		<br><br>

		<%= link_to "Create a Free Account", signup_path, class:"button medium orange-background button"%>

	</div>

</div>

