
		
<!-- <div class="home-hero textured-background">

	<div class="home-hero-content centered">

		<h2>Enter Your City, Neighborhood, or Address to find all the best comedy shows near you.</h2>

		<br><br>

		<%# form_tag update_city_path do %>

			<input type="text" class="geocomplete-input" name="location"></input>

			<br><br>
			
			<button class="yellow-background button medium">Update City</button>

		<%#end%>

	</div>

</div> -->

<section style="padding: 40px 20px;">

	<div class="centered">

		<h2>Select Your City to Get Started</h2>

		<br>

		<ul class="" id="rig">

			<% Market.all.each do |market| %>

				<li>
					<a class="rig-cell" href="<%= update_city_link_path(location: market.name) %>">
							
						<%# image_tag category.image(:medium), class:"rig-img" %>
				        <span class="rig-overlay"></span>
				        <span class="rig-text"><%= market.name %></span>

					</a>

				</li>

			<%end%>

		</ul>

	</div>

</section>
