<div class="sub-header mobile-only">

	<ul class="horizontal">

		<li><a class="modal-cta" data-modal-id="mobile-search-filter"><span class="glyphicon glyphicon glyphicon-th-large" aria-hidden="true" style="margin-right: 10px;"></span>Comedy</a></li><li><a><span class="full-screen-only"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 10px;"></span>Montreal</span><span class="mobile-only"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 10px;"></span>MTL</span></a></li><li><a><span class="glyphicon glyphicon-time" aria-hidden="true" style="margin-right: 10px;"></span>Tonight</a></li>

	</ul>

</div>