
		
<div class="home-hero textured-background">

	<div class="home-hero-content centered">

		<h2>Enter Your City, Neighborhood, or Address to find all the best comedy shows near you.</h2>

		<br><br>

		<%= form_tag update_city_path do %>

			<input type="text" class="geocomplete-input" name="location"></input>

			<br><br>
			
			<button class="yellow-background button medium">Update City</button>

		<%end%>

	</div>

</div>

<section>

	<h2 class="centered">Where are You?</h2>

	<div class="row padded-cols">

		<div class="col-xs-6 col-sm-3">
			<div class="card centered">
				NYC
			</div>
		</div>

		<div class="col-xs-6 col-sm-3">
			<div class="card centered">
				LAX
			</div>
		</div>

		<div class="col-xs-6 col-sm-3">
			<div class="card centered">
				SF
			</div>
		</div>

		<div class="col-xs-6 col-sm-3">
			<div class="card centered">
				Montreal
			</div>
		</div>

	</div>

</section>
