
<% if mobile_only %>

	<section class="home-hero mobile">

		<div class="home-hero-content centered">
			
			<header>Signup for free comedy tickets</header>

			<br><br>

			<%= link_to "Create a Free Account", signup_path, class:"button medium yellow-background button"%>

		</div>

	</section>

<%else%>
	
	<section class="home-hero textured-background">

		<div class="home-hero-content centered">
			
			<header>Comedy Fan?</header>
			<br>
			<header>Signup for free comedy tickets</header>

			<br><br>

			<%= link_to "Signup", signup_path, class:"button small yellow-background button"%>

		</div>

	</section>


<%end%>

