
<div class="content medium">

	<div class="card">

		<h1>Give us some info<h1>

		<%= form_tag comedian_contact_submit_path do %>

			<header>Help us Get in Touch with You</header>

			<br>
			<label>Email</label>
			<input type="text" name="email"></input>
			<br>
			<label>Facebook URL</label>
			<input type="text" name="facebook_url"></input>
			<br>
			<label>Twitter</label>
			<input type="text" name="twitter_url"></input>

			<br>
			<br>

			<button class="blue-background button medium">Update City</button>

		<%end%>

	</div>

</div>


