
<div class="form-container content medium" style="margin:30px auto;">
		
	<%= form_tag comedian_contact_submit_path do %>

		<h3>Help us Get in Touch with You When We Do Auditions</h3>
		<p><i>Include at least one</i></p>
		<br>
		<label>Email</label><br>
		<input type="text" name="email"></input>
		<br><br>
		<label>Facebook URL</label><br>
		<input type="text" name="facebook_url"></input>
		<br><br>
		<label>Twitter</label><br>
		<input type="text" name="twitter_url"></input>

		<br>
		<br>

		<button class="blue-background button medium">Send</button>

	<%end%>

</div>


