

<% if session[:city].blank?  %>
	
	<div class="welcomes-container">

		<div class="welcomes-overlay">

			<div class="welcomes-content">

				<h2>Welcome To ComedyHere</h2>

				<br>

				<p>We curate the best live comedy events going on in your city, from independent shows in your neighborhood to national headliners visiting your city.</p>

			</div>

		</div>

	</div>

	<%= render 'pages/home_location_cta' %>

<%else%>
	
	<%= render :partial => 'pages/search', :locals => {:show_occurrences => @show_occurrences, :city_page => false, :dashboard_title => session[:city], :location => session[:city], :latitude => session[:latitude], :longitude => session[:longitude], :market => nil} %>

<%end%>


