<% unless user_signed_in?%>

<section class="home-form">

	<div class="section-overlay">
	
		<div class="section-content centered">

			<h2>Find Comedy Tonight</h2>

			<br><br>

			<a class="button medium orange-background">Get Started</a>

		</div>

	</div>

</section>


<%else%>

	<%= render 'users/dashboard' %>

<%end%>