<div class="profile-header-banner sticky">

  <div class="profile-title-container">

    <div class="row">
      
      <div class="col-xs-3 col-sm-2">
        <%= image_tag @venue.image.url(:medium), class: ""%>
      </div>

      <div class="col-xs-9 col-sm-10">
        
        <h1><%= @venue.name %></h1>

      </div>
  
    </div>

  </div>

</div>
