<div class="image-grid">

  <% performers.each do |performer| %>

    <%= link_to performer do %>
      
      <div class="entry">

        <div class="image-container">
          
          <%= image_tag performer.image.url(:medium), class:"medium round" %>

        </div>

        <div class="detail-container centered">

          <a class="metadata name"><%= performer.name %></a>

        </div>

      </div>

    <%end%>

  <%end%>

</div>