<div class="modal-container default-off" id="select-city">

	<div class="modal-content-container">

		<div class="modal-content centered">
			
			<span class="dismiss-modal clickable">x</span>

			<%# form_tag update_city_path do %>

				<header>Help us Get in Touch with You</header>

				<br>
				<label>Email</label>
				<input type="text" name="location"></input>
				<br>
				<label>Facebook URL</label>
				<input type="text" name="location"></input>
				<br>
				<label>Twitter</label>
				<input type="text" name="location"></input>

				<br>
				<br>

				<button class="blue-background button medium">Update City</button>

			<%#end%>

		</div>

	</div>

</div>