<div class="modal-container default-off" id="main-menu">

	<span class="dismiss-parent">x</span>

	<div class="menu-content default-off">
		
		<ul>

			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Shows", show_dashboard_path %></li>
			<li><%= link_to "Venues", venues_path %></li>
			<li><%= link_to "Comics", performers_path %></li>

		</ul>

	</div>

</div>