<div class="modal-container full-screen default-off" id="mobile-search-filter">

	<span class="glyphicon glyphicon-remove dismiss-modal" aria-hidden="true">X</span>
	
	<div class="modal-content-full centered">
		<header class="white-text">ComedyHere</header>

		<div class="button">Search</div>
	</div>

	

</div>