<div class="modal-container full-screen default-off" id="mobile-search-filter">

	<span class="glyphicon glyphicon-remove dismiss-modal" aria-hidden="true">X</span>
	
	<div class="modal-content-full centered">
		
		<header class="white-text">ComedyHere</header>

		<input class="geocomplete-input" type="text"></input>

		<br>

		<div class="button orange-background">Search</div>
		
	</div>

	

</div>