<div class="modal-container default-off" id="select-city">

	

	<div class="modal-content">
		
		<span class="dismiss-parent">x</span>

		Select City

		<br>

		<select name="city">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>

	</div>

</div>