<div class="modal-container default-off" id="select-city">

	<div class="modal-content-container">

		<div class="modal-content centered">
			
			<span class="dismiss-modal clickable">x</span>

			<%= form_tag update_city_path do %>

				<header>Tell us your location</header>

				<br>

				<input type="text" class="geocomplete-input" name="location" required></input>

				<br>
				<br>

				<button class="blue-background button medium">Update City</button>

			<%end%>

		</div>

	</div>

</div>