<div class="modal-container default-off" id="select-city">

	<div class="modal-content-container">

		<div class="modal-content centered">
			
			<span class="dismiss-modal">x</span>

			<%= form_tag update_market_path do %>

				<a>Tell us your location</a>

				<br>

				<%= collection_select(:market_data, :market_id, Market.all, :id, :name, prompt: true) %>

				<br>

				<a>Not in Montreal? Please select your location to help us display the correct information for your area.</a>

				<button class="black-background button">Update</button>

			<%end%>

		</div>

	</div>

</div>