<div class="modal-container default-off" id="select-city">

	<div class="modal-content centered">
		
		<span class="dismiss-parent">x</span>

		Select City

		<br>

		<%= collection_select(:market_type, :market_id, Market.all, :id, :name, prompt: true) %>

		<br>

		<a class="black-background button">Update</a>

	</div>

</div>