<div class="modal-container default-off" id="select-city">

	<div class="modal-content-container">

		<div class="modal-content centered">
			
			<span class="dismiss-modal clickable">x</span>

			<%= form_tag update_market_path(:dashboard_refresh => @show_dashboard_view) do %>

				<a class="modal-header">Tell us your location</a>

				<br>
				<br>

				<%= collection_select(:market_data, :market_id, Market.all, :id, :name, prompt: "Select a City", required: true ) %>

				<br>
				<br>

				<a>Not in <%= @market["name"] %>? Please select your location to help us display the correct information for your area.</a>

				<br>
				<br>

				<button class="black-background button medium">Update City</button>

			<%end%>

		</div>

	</div>

</div>