<div class="modal-container default-off" id="select-date">

	

	<div class="modal-content">
			<span class="dismiss-modal">x</span>
			Select Date<br>
			<select name="date-filter">
	            <option value="volvo">Today</option>
	            <option value="saab">This Week</option>
	            <option value="mercedes">This Month</option>
	            <option value="audi">All</option>
          	</select>

	</div>

</div>