// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$material-shadow: 0 2px 2px 0 rgba(0,0,0,0.14) ,0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);


$brand-green: #1AFF46;

$brand-blue: #0980B2;

$brand-red: #ff1a3f;

$brand-yellow: #FFF633;

