// Place all the styles related to the Performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.click-to-reveal{
   	border-bottom: 3px solid transparent;
}

a.click-to-reveal.active{
	border-bottom: 3px solid green;
}

span.dismiss-parent{
	position: absolute;
	font-size: 20px;
	color: #fff;
	right: 0px;
}