// Place all the styles related to the Performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.click-to-reveal:hover, .click-to-toggle:hover{
	cursor: pointer;
}



span.dismiss-parent{
	position: absolute;
    font-size: 20px;
    color: #fff;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    
    cursor: pointer;
}