// Place all the styles related to the Performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.click-to-reveal:hover, .click-to-toggle:hover{
	cursor: pointer;
}



span.dismiss-parent{
	
    font-size: 20px;
    color: #fff;
    right: 15px;
    float: right;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    
    
    cursor: pointer;
}

.dismiss-parent{
    position: absolute;
    right: 0px;
    padding: 10px;
}