// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.card{
	height: 150px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px rgba(36,42,48,0.15);
    margin-bottom: 50px;
    border: 1px solid #ddd;
    border-bottom: none;

    .image-container, .detail-container{
    	display: table-cell;
    	vertical-align: top;
    }

    .detail-container{
    	width:100%;
    	padding: 10px;

    	p.title{
    		font-size: 2em;
    	}
    }
}

.card:hover{
	cursor: pointer;
	background: #f6f6f6;
}

.medium-profile-image{
	
	width: 194px;
	max-width: 100%;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	
}

.small-index-image{
	height: 150px;
}