// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card-background{
    
    background: #fff;
    border-radius: 1px;
    border: 1px solid #ccc;

}

.card.top-padded{
    padding: 5px 0px;    
}

.card.top-padded:last-child{
    
}

.card{
	
    background: #fff;
    border-radius: 2px;

    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    
    margin-bottom: 10px;

    p.title{
        font-size: 1.3em;
        color: #111;
        font-weight: 800;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        line-height: 30px;
            

    }

    p.one-line{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    p{
        
        display: inline-block;
        line-height: 25px;
    }

    p.light{
        color: #aaa;
        line-height: 20PX;

        a{
           color: #aaa;
            line-height: 20PX; 
        }

        a:hover{
            color: #666;
        }
    }

    .tag-content{
        
        padding: 3px 8px;
        border-radius: 20px;
        margin-right: 10px;
        border: 1px solid rgba(0,0,0,0.2);
        background: #ff1a3f;
        color: #fff;
    }

    .tag-content:last-child{
        margin-right:0px;
    }

    .thumb-holder{
        text-align: right;
        float: right;
        display: inline-block;

        li{
            padding:3px;
        }
    }

    .thumb-cta{
        color: #111;
        background: #ff4;
        border-radius: 50%;
        font-size: 20px;
        padding: 10px;
    }

    .image-container, .detail-container{
    	display: table-cell;
    	vertical-align: top;
    	padding: 10px;
    }

    .image-container{

    	

    	img.small-index-image{
    		
    		height: 100px;
            border-radius: 2px;
    	}
    }

    .detail-container{
    	width:100%;
    	
    	.price{
    		float:right; top: 10px; font-size: 16px; display: inline-block; height: 24px; line-height: 24px; color: #2e7d32;
    	}

    	p.title{
    		font-size: 1.2em;
    		font-weight: 800;
    		

    	}

    	p{
    		margin-bottom: 0.25em;
            display: inline-block;
    	}
    }
}

.card:hover{
	cursor: pointer;
	background: #fdfdfd;
	
}

.card.form-header{
	
	
	margin: 0 auto;
	
}

.card.see-more{
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    color: #888;
    box-shadow: none;
    

}

.card.flat{
    padding: 10px;
    box-shadow: none;
    border: 1px solid #aaa;
}



.medium-profile-image{
	
	width: 194px;
	max-width: 100%;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	
}

.small-index-image{
    width: 100%;

}