// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notice{
    background: #f77;
    padding: 10px;
    color: #fff;
    text-align: center;
    border: 2px 0px 2px 0px solid #cca;
}
