// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-container{
	position: fixed;
	background: rgba(255,255,255,1);
	border-bottom: 1px solid #ddd;
	
   	box-shadow: none;
	width: 100%;
	display: block;
	top: 0px;
	left:0px;
	right:0px;
	height: 60px;
	z-index: 960;

	.header-content{
		padding: 0px 0px;
	}

	.header-options{

		a{
			line-height: 30px;
			padding: 15px 10px;
    		
    		color: #ff5a5f;
    		text-shadow: 0px 1px 1px rgba(200,200,200,0.5);
		}

		a.logo{
			font-weight: 800;
    		font-size: 20px;
    		letter-spacing: -1px;
    		color: #ff5a5f;
    		text-shadow: 0px 1px 1px rgba(200,200,200,0.5);
		}

		a.cta{
			padding: 5px 15px;
		    margin: 10px;
		    background: #3349EB;
		    border-radius: 5px;
		    color: #fff;
		    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
		}

		span.glyphicon{
			line-height: 30px;
		}

	}

	.header-options.left{
		float: left;
		
	}

	.header-options.right{
		float: right;
		
	}
}

.hamburger{
	background:none;
	line-height: 40px;
	padding: 10px 15px 10px 15px;
	color:#ff5a5f;
	border:0;
	font-size:2em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:1000;
}

.hamburger:hover{
	background: rgba(0,0,0,0.2);
}