// Place all the styles related to the Performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (min-width: 1025px) {
	
	html {

		body {
			
			.profile-header-banner{

				height: 300px;
			}

			.profile-image-container, .profile-detail-container{

				display: table-cell;

			}

			.profile-image-container{

				vertical-align: top;

			}

			.profile-content{

				margin-top: -150px;
				background: #fff;
				box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
				padding: 0px;
				margin-bottom: 50px;
			}

			.profile-detail-container{

				vertical-align: middle;
			    text-align: left;
			    width: 100%;
			    background: #fff;
			    padding: 20px 30px;

			}

			.profile-section{
				
			    text-align:justify;
			    padding: 20px 100px;
			    
			}

			.medium-profile-image{
	
				display: block;
				border-radius: 0px;

			}

		}

	}

}


@media only screen and (min-width: 800px) {
	
	html {

		body {

			.mobile-only{
				display: none !important;
			}

			.full-screen-only{
				display: inherit !important;
			}

			.image-grid{

			    .entry{

			    	width: 33.3%;
			    }

			}



		}

	}

}