// Place all the styles related to the Performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (min-width: 992px) {
	
	html {

		body {
			
			.profile-header-banner{

				
			}

			.profile-image-container, .profile-detail-container{

				font-size: 18px;

			}

			.profile-image-container{

				vertical-align: top;

			}

			.content{
				padding: 50px 30px;
			}

			.profile-content{
				
				background: none;
				padding: 20px;
			}

			.profile-detail-container{

				vertical-align: middle;
			    
			
			    padding: 0px 20px;

			}

			.profile-section{
				
			    text-align:left;
			    
			    
			}



			

			.dashboard-section{

				padding: 25px 50px;

			}

			.medium-profile-image{
	
				display: block;
				border-radius: 0px;

			}

			.profile-body-container{
				

				.profile-body-main{
					display: table-cell;
					
					width:100%;
					vertical-align: top;
					padding-top: 30px;
					padding: 30px 50px 20px 50px;
				}


				.profile-body-side{
					display: table-cell;
					padding: 20px;
					padding-top: 30px;
					
				
					vertical-align: top;

					.profile-body-side-content{
						width:300px;
						text-align: left;
					}
				}


			}



		}

	}

}







@media only screen and (min-width: 992px) {
	
	html {

		body {

			.mobile-only{
				display: none !important;
			}

			.full-screen-only{
				display: inherit !important;
			}

			.header-container{
				
				
			   	box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
				
				.header-content{
					padding: 0px 15px;
				}

			}

			.card{

    			margin-bottom: 15px;
			}

			.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
			    position: relative;
			    min-height: 1px;
			    padding-left: 15px;
			    padding-right: 15px;
			}

			.dashboard{
				padding: 50px 25px;
			}

			section.home-index{

				padding: 15px 10px;

				header.home-section-header{
					font-size: 1.5em;
				    
				}
		
			}

			.image-grid{

			    .entry{

			    	width: 50.0%;
			    }

			}

			.content.with-sidebar{
				padding: 50px 10px;
			}

			.content-sidebar{
				position: absolute;
				display: inline-block;

				box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    			border: 1px solid #ddd;
    			
    			width: 250px;
    			
    			margin-bottom: 0px;

    			.filter-group-container, .filter-group{
					display: block;
				}

			}


			
			.content-main{
			    margin-left: 250px;
			    padding-left: 30px;
			    
			    h1{
			    	text-align: left;
			    }

			    .sort-by-container{
        			text-align:left;
    			}
			}



			.card{
	

			    

			    .image-container, .detail-container{
			    	
			    	vertical-align: top;

			    	img.small-index-image{
			    		
			    		
			    	}

			    }

			    .image-container{
			    	
			    	width: auto;
			    }
			    
			    .detail-container{
			    	width:100%;
			    	
			    	
			    	.price{
			    		 height: 40px; line-height: 40px;
			    	}

			    	p.title{
			    		font-size: 2em;
			    		font-weight: 200;
			    	}
			    }
			}

		}

	}

}

@media only screen and (max-width: 500px) {
	
	html {

		body {

			

		}



	}


}