// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-container{
	background: rgba(0,0,0,.7);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9990;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.modal-content{

	max-width: 100%;
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 50px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
	
}

.menu-content{
	height: 100%;
	background: #fff;
	width: 300px;
	max-width: 100%;
}

.modal-cta{
	
}

.modal-cta:hover{
	cursor: pointer;
}