// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.home-form{
	display: block;
	width:100%;
	height: 600px;
	max-height: 100%;
	background: #EEE84C;
}

.section-content{
	max-width: 1025px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 50px 0px;
	height: 100%;
}

.content, .profile-content{
	
	width: 100%;
	margin: 0 auto;
	position: relative;
	

	.content-section{


		h3.content-section-header{

			border-bottom: 2px solid #666;
			margin-bottom: 1em;

		}

	}
}

.content{

	max-width: 800px;
	padding: 50px 10px;
}

.profile-content{
	
	max-width: 1025px;
	background: #fff;
	border-radius: 2px;
	padding: 20px 0px;
	
	h1{
		margin-bottom: 10px;
	}

	.social-media-row{
		margin: 20px 0px;
	}
}


.profile-bar{
	background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    text-align: center;
    margin-top: 1em;
}

.action-header-container{
	
	background: #336;
	padding: 10px;
	position: fixed;
	width: 100%;
	display: block;
	top: 50px;
	z-index: 950;

	.action-header-content{
		
		max-width: 800px;
		margin: 0 auto;
		text-align: center;

		a{
			color: #fff;
			font-size: 30px;
		}
	}
}

.page-header-banner{

	height: 300px;
}


.dashboard-section-header{

	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 50px;

	ul{

		list-style-type: none;
	    margin: 0;
	    margin-bottom: -1px;
	    padding: 0;
	    display: block;
		
		li{

			display: inline-block;
	        text-align: center;
	        vertical-align: top;

			a{

				display: block;
	            font-size: 18px;
	            padding: 10px 20px;
	           	letter-spacing: 1.5px;
	           	margin-bottom: -2px;

	           	border-bottom: 2px solid #e5e5e5;
				margin-bottom: -1px;
				-webkit-transition: border 0.2s; /* Safari */
				transition: border 0.2s;
				color: #444;

			}

			a:hover{
				cursor: pointer;
				border-bottom: 2px solid #333;
				color: #000;
				-webkit-transition: border 0.2s; /* Safari */
				transition: border 0.2s;
				font-weight: 700;

			}

			a.active{
				color: #000;
				font-weight: 700;
				border-bottom: 2px solid #333;
			}

		}

	}
}