// Place all the styles related to the Performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image-container, .profile-detail-container{
    display: inline-block;
    vertical-align: top;

}

.profile-image-container{
    
}

.profile-detail-container{
	padding: 0px 20px;
	font-size: 16px;
    color: #fff;

}

.profile-title-container{
	margin: 0 auto;
    max-width: 992px;
}

.profile-header-banner{
    
    width: 100%;
    padding:15px 0px;
    z-index: 200;
    color: #fff;
    background: rgba(0,0,55,1);

    border-bottom: 1px solid rgba(0,0,0,0.2);

    h1{
        
        font-size: 24px;

        margin-bottom: 0.1em;
        font-weight: 800;
        line-height: 48px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
            
    }

    h2{
        font-size: 20px;
    }

    p{
        margin-bottom: 0.1em;
        font-size: 16px;
        color: rgba(255,255,255,0.9);
    }

    img{
        max-width: 100%;
        min-width: 75px;
        
        border: 3px solid #fff;
    }

    img.rounded{
        border-radius: 50%;
    }

}

.profile-content{
	
}

section.profile-section{
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    
    content: "";
    clear: both;
    text-align: justify;

    h2{
    	margin-bottom: 0.5em;
    }

    header.section-title{
        margin-bottom: 0.5em;
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        color: #000;
    }
    
}

.profile-edit-action{
    margin-top: 20px;
}



.social-media-button{
	margin: 0 5px;
	height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);	
}