// Place all the styles related to the Performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image-container, .profile-detail-container{
    display: inline-block;
    vertical-align: top;

}

.profile-image-container{
    img{
        max-width: 100%;
        width: 100px;
        
        border: 3px solid #fff;
    }
}

.profile-detail-container{
	padding: 0px 20px;
	font-size: 16px;
    color: #fff;

}

.profile-title-container{
	margin: 0 auto;
    max-width: 992px;
}

.profile-header-banner{
    
    width: 100%;
    padding:10px;
    z-index: 20;
}

.profile-content{
	
}

section.profile-section{
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    
    content: "";
    clear: both;
    text-align: justify;

    h2{
    	margin-bottom: 0.5em;
    }

    header.section-title{
        margin-bottom: 0.5em;
        display: block;
        font-size: 1.5em;
        font-weight: bold;
    }
    
}

.profile-edit-action{
    margin-top: 20px;
}



.social-media-button{
	margin: 0 5px;
	height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);	
}