// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-body-container{
	display: block;

	.profile-body-main{
		display: block;
		padding: 0px 20px;
		
		width:100%;
		vertical-align: top;
		padding-top: 30px;
	}


	.profile-body-side{
		display: block;
		padding: 0px 20px;
		
		
		
		vertical-align: top;

		.profile-body-side-content{
			
			max-width:100%;
			width: inherit;
			margin: 0 auto;
			text-align: center;
			
			h2{
				margin-bottom: 0.5em;
			}
			
		}
	}


}

.reviewer-small-image{
	width: 60px;
	height:60px;
	border-radius: 50%;
}