// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-stars{
	background: url(https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_design_web/41341496d9db/assets/img/stars/stars.png);
	background-size: 132px 560px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;

}

.stars-5{
	width: 102px;
	height: 18px;
	background-position: 0px -402px;
}

.stars-4-and-half{
	width: 102px;
	height: 18px;
	background-position: 0px -384px;
}


.stars-4{
	width: 102px;
	height: 18px;
	background-position: 0px -366px;
}


.stars-3-and-half{
	width: 102px;
	height: 18px;
	background-position: 0px -348px;
}


.stars-3{
	width: 102px;
	height: 18px;
	background-position: 0px -330px;
}


.stars-2-and-half{
	width: 102px;
	height: 18px;
	background-position: 0px -312px;
}


.stars-2{
	width: 102px;
	height: 18px;
	background-position: 0px -294px;
}


.stars-1-and-half{
	width: 102px;
	height: 18px;
	background-position: 0px -276px;
}


.stars-1{
	width: 102px;
	height: 18px;
	background-position: 0px -258px;
}



.stars-0{
	width: 102px;
	height: 18px;
	background-position: 0px -240px;
}

