// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	
	background-color: #f2f3f4;

	a{
		color: #333;
    }

    a:hover{
    	color: #333;
    }

	h1.mega{
		font-size: 4em;
		margin-bottom: 0.5em;

	}

	h1{
		font-size: 2.5em;
	}

	h1.color-title{
		color: #ff1a3f;
    	text-shadow: 0px 1px 1px rgba(200,100,100,0.5);
	}

	h1.login-header{
		color: #ff1a3f;
    	text-shadow: 0px 1px 1px rgba(200, 100, 100, 0.5);
    }

    span.brand-color{
    	color: #ff5a5f;
    }

	img.round{
		border-radius: 50%;
    }

	.light-text-shadow{
		text-shadow: rgba(50,50,50,0.5);
	}

	.light-box-shadow{
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	}

	.fixed-to-bottom{
		position: fixed;
		bottom: 0px;
		z-index: 1000;
	}

	a, a:hover{
		text-decoration: none;
	}

	
	.centered{
		text-align:center;
	}

	.video-embed{
		
	}
	
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}



	.button{
		margin: 0px;
	}

	.button:hover{
		cursor: pointer;
	}

	.button-container{
		padding: 20px 10px;
		display: inline-block;
	}

	.dark-brand-gradient{
		background: #1e3c72; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
 
	}

	.green-background{
		border: 1px solid #00b22d;
	    color:#fff;
	    text-transform: none;
	    background: -webkit-linear-gradient(#35c350, #03b525);
	    background: -moz-linear-gradient(#35c350, #03b525);
	    background: -o-linear-gradient(#35c350, #03b525);
	    background: linear-gradient(#35c350, #03b525);

	    border-radius: 3px;
	}

	a.green-background{
		color: #fff;
	}

	.blue-background{
		
	    background-color: #3349EB;
	    background-image: -webkit-linear-gradient(#5569EF 0%,#3349EB 100%);
	    background-image: linear-gradient(#5569EF 0%,#3349EB 100%);
	    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
	    border: 1px solid #1b5480;


	    color: #fff;
    
	}

	.blue-background:hover{

	    color: #fff;
	    box-shadow: none;
	}

	.blue-text{
		color: #3349EB;
	}

	.red-text{
		color: #EB3349;
	}

	.black-background{

		background-color: #111;
	    background-image: -webkit-linear-gradient(#222 0%,#111 100%);
	    background-image: linear-gradient(#222 0%,#111 100%);
		border: 1pc solid #000;
		color: #fff;
		border: none;
	}

	.orange-background{

		border: 1px solid #f83600;
		color:#fff;
		text-transform: none;
		background: #fe8c00; /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.button{
		padding: 10px 25px;
	    border-radius: 2px;
	    
	    display: inline-block;
	    margin: 0px;
	    text-align: center;
	    z-index: 99;
	    position: relative;

	    font-family: 'Lato', sans-serif;

	    box-shadow: inset 0px 1px 3px 0px rgba(240, 240, 240, 0.0), 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: 0px 1px 3px 0px rgba(240, 240, 240, 0.0) inset, 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
	    -moz-box-shadow: 0px 1px 3px 0px rgba(240, 240, 240, 0.0) inset, 0px 2px 1px 0px rgba(0, 0, 0, 0.3);

	    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

	    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	}

	.button.medium{
		font-size: 1.5em;
	}


	a.button:hover{
		color: #fff;
	    box-shadow: none;
	}



	ul.horizontal{

		list-style-type: none;
	    margin: 0;
	    margin-bottom: -1px;
	    padding: 0;
	    display: block;
		
		li{

			display: inline-block;
	        text-align: center;
	        vertical-align: top;

			a{

				display: block;
	            font-size: 18px;
	            padding: 10px;
	           	letter-spacing: 1.5px;
			}

		}

	}

	ul.horizontal.even-spaced{

		display: table !important;
    	width: 100%;
    	table-layout: fixed;
		
		li{

			display: table-cell;

			a{

			}

		}

	}



	ul.toggle{
		
		li{
		
			a{
				background: #ddd;
				border: 1px solid #ccc;
			}

			a.active{
				background: #fff;
				border-bottom:2px solid #99f;
			}
		}
	}

}

.flash{
	background: #9f9;
	border: 1px solid #6f6;
	padding: 5px;
	margin-bottom: 10px;
}