// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	
	background-color: #f8f8f8;

	a{
		color: #111;
    }

    a:hover{
    	color: #111;
    }

	h1.mega{
		font-size: 4em;
		margin-bottom: 0.5em;

	}

	h1{
		font-size: 3em;
	}

	.light-text-shadow{
		text-shadow: rgba(50,50,50,0.5);
	}

	.light-box-shadow{
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
	}

	a, a:hover{
		text-decoration: none;
	}

	
	.centered{
		text-align:center;
	}

	.video-embed{
		
	}
	
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}

	.button{
		margin: 0px;
	}

	.button:hover{
		cursor: pointer;
	}

	.dark-brand-gradient{
		background: #1e3c72; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
 
	}

	.green-background{
		border: 1px solid #00b22d;
	    color:#fff;
	    text-transform: none;
	    background: -webkit-linear-gradient(#35c350, #03b525);
	    background: -moz-linear-gradient(#35c350, #03b525);
	    background: -o-linear-gradient(#35c350, #03b525);
	    background: linear-gradient(#35c350, #03b525);

	    border-radius: 3px;
	}

	.blue-background{
	
	    background-color: rgba(50,50,200,1);
    	border: 1px solid #0a2e5c;

	    color: #fff;
    
	}

	.blue-background:hover{

	    color: #fff;
	    box-shadow: none;
	}

	.orange-background{

		border: 1px solid #f83600;
		color:#fff;
		text-transform: none;
		background: #fe8c00; /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.button{
		padding: 10px 25px;
	    border-radius: 2px;
	    
	    display: inline-block;
	    margin: 0px;
	    text-align: center;
	    z-index: 99;
	    position: relative;

	    font-family: 'Lato', sans-serif;

	    box-shadow: inset 0px 1px 3px 0px rgba(240, 240, 240, 0.0), 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: 0px 1px 3px 0px rgba(240, 240, 240, 0.0) inset, 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
	    -moz-box-shadow: 0px 1px 3px 0px rgba(240, 240, 240, 0.0) inset, 0px 2px 1px 0px rgba(0, 0, 0, 0.3);

	    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	}

	.button.medium{
		font-size: 1.5em;
	}



	ul.horizontal{

		list-style-type: none;
	    margin: 0;
	    margin-bottom: -1px;
	    padding: 0;
	    display: block;
		
		li{

			display: inline-block;
	        text-align: center;
	        vertical-align: top;

			a{

				display: block;
	            font-size: 18px;
	            padding: 10px;
	           	letter-spacing: 1.5px;
			}

		}

	}

	ul.toggle{
		
		li{
		
			a{
				background: #ddd;
				border: 1px solid #ccc;
			}

			a.active{
				background: #fff;
				border-bottom:2px solid #99f;
			}
		}
	}

}

.flash{
	background: #9f9;
	border: 1px solid #6f6;
	padding: 5px;
	margin-bottom: 10px;
}