<% if show.more_dates %>

  <header class="section-title">More Dates</header>

  <% show.more_dates.each do |occurence| %>

    <p><%= occurence.start_time.strftime("%A, %b %e, %Y") %></p>

  <%end%>

<%end%>
