<div class="content">

  <div class="content-sidebar">

    <p>CITY</p>

    <p>DATE</p>

    <p>PRICE</p>

  </div>



  <div class="content-main">

    <h1>Local Comedy Shows</h1>

    <br>

    <div>
      <a>Sort By:</a>
      <ul class="horizontal toggle">
        <li><a class="active click-to-reveal" data-reveal-panel-id="">Rating</a></li><li><a class="click-to-reveal" data-reveal-panel-id="">Date</a></li>
      </ul>

    </div>

    <br>

    <% @shows.each do |show| %>
      
      <%= link_to(show_with_url_path(show.url_slug)) do %>

        <div class="card">
          
          <div class="image-container">
            
            <%= image_tag show.image.url(:medium), class: "small-index-image"%>

          </div>

          <div class="detail-container">
            
            <p class="title"><%= show.name %></p>

            <p><%= show.start_time.strftime("%A, %b %e, %Y") %></p>

            <p>Venue McGullicuddy</p>

          </div>

        </div>

      <% end %>

    <% end %>



  </div>




</div>



