<div class="content with-sidebar">

  <div class="content-sidebar">

    <div class="filter-group"><u>FILTER RESULTS</u></div>

    <div class="filter-group">
      
      <p class="click-to-toggle" data-reveal-panel-id="city-filter">CITY <span class="glyphicon glyphicon-chevron-down"></span></p>
      
      <div class="default-off" id="city-filter">
        City FiLTER
      </div>

    </div>

    <div class="filter-group">
      
      <p class="click-to-toggle" data-reveal-panel-id="date-filter">DATE <span class="glyphicon glyphicon-chevron-down"></span></p>
      
      <div class="default-off" id="date-filter">
        DATE FiLTER
      </div>

    </div>

    <div class="filter-group">

      <p class="click-to-toggle" data-reveal-panel-id="price-filter">PRICE <span class="glyphicon glyphicon-chevron-down"></span></p>

      <div class="default-off" id="price-filter">
        PRICE FiLTER
      </div>

    </div>

  </div>



  <div class="content-main">

    <h1>Local Comedy Shows</h1>

    <br>

    <div class="sort-by-container">
      <a>Sort By:</a>
      <ul class="horizontal toggle">
        <li><a class="active click-to-reveal" data-reveal-panel-id="rating">Rating</a></li><li><a class="click-to-reveal" data-reveal-panel-id="date">Date</a></li>
      </ul>

    </div>

    <br>

    <div class="reveal-panel" id="rating">
      Rating

      <% @shows.each do |show| %>

        <%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

      <% end %>

    </div>


    <div class="reveal-panel default-off" id="date">
      Date
      
      <% @shows.each do |show| %>

        <%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

      <% end %>

    </div>



  </div>




</div>



