<div class="content with-sidebar">

  <div class="content-sidebar">

    <div class="filter-title centered mobile-only">

      <ul class="horizontal even-spaced">
        <li style="border-right: 2px solid #bbb;"><a class="clickable modal-cta" data-modal-id="select-city"><span>CITY</span><br><span>Select City</span></a></li>
        <li><a class=" clickable modal-cta" data-modal-id="select-date"><span>DATE</span><br><span>This Week</span></a></li>
      </ul>

      <%= render 'modals/select_city' %>
      <%= render 'modals/select_date' %>

    </div>

    <div class="filter-group-container toggle-panel" id="filter-group-container">

      <span class="full-screen-only">FILTERS</span> 

      <div class="filter-group">
        
        <p class="click-to-toggle" data-reveal-panel-id="city-filter">CITY <span class="glyphicon glyphicon-chevron-down"></span></p>
        
        <div class="filter-options" id="city-filter">
          <select name="city">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </div>

      </div>

      <div class="filter-group">
        
        <p class="click-to-toggle" data-reveal-panel-id="date-filter">DATE RANGE<span class="glyphicon glyphicon-chevron-down"></span></p>
        
        <div class="filter-options" id="date-filter">
          <select name="date-filter">
            <option value="volvo">Today</option>
            <option value="saab">This Week</option>
            <option value="mercedes">This Month</option>
            <option value="audi">All</option>
          </select>
        </div>

      </div>

      <div class="filter-group">

        <p class="click-to-toggle" data-reveal-panel-id="price-filter">PRICE <span class="glyphicon glyphicon-chevron-down"></span></p>

        <div class="filter-options" id="price-filter">
          <ul class="horizontal toggle">
            <li><a>Free</a></li><li><a>$1-$10</a></li><li><a>$10+</a></li>
          </ul>
        </div>

      </div>

    </div>

  </div>



  <div class="content-main">

    <h1>Local Comedy Shows</h1>

    <br>

    <div class="sort-by-container">
      <a>Sort By:</a>
      <ul class="horizontal toggle">
        <li><a class="active click-to-reveal" data-reveal-panel-id="rating">Rating</a></li><li><a class="click-to-reveal" data-reveal-panel-id="date">Date</a></li>
      </ul>

    </div>

    <br>

    <div class="reveal-panel" id="rating">
      Rating

      <% @shows.each do |show| %>

        <%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

      <% end %>

    </div>


    <div class="reveal-panel default-off" id="date">
      Date

      <% @shows.each do |show| %>

        <%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

      <% end %>

    </div>



  </div>




</div>



