<div class="content">

  <div class="content-sidebar">

    <p>CITY</p>

    <p>DATE</p>

    <p>PRICE</p>

  </div>



  <div class="content-main">


    <h1>Local Comedy Shows</h1>

    <% @shows.each do |show| %>
      
      <div class="card">
        
        <div class="image-container">
          
          <%= image_tag show.image.url(:medium), class: "small-index-image"%>

        </div>

        <div class="detail-container">
          <p><%= show.name %></p>
          <p><%= show.start_time.strftime("%A, %b %e, %Y") %></p>
          <p>Venue McGullicuddy</p>
        </div>

      </div>

    <% end %>



  </div>




</div>



