<div class="profile-header-banner">

  <div class="profile-title-container">

    <div class="profile-detail-container">

      <h1><%= @show.name %></h1>

    </div>

  </div>

</div>

<%= render 'shows/show_occurrences_form' %>
