<div class="profile-header-banner dark-brand-gradient">

</div>

<div class="profile-content">


  <div class="profile-image-container">
    
    <%= image_tag @show.image.url(:medium), class: "medium-profile-image"%>
  
  </div>

  <div class="profile-detail-container">

    <h1><%= @show.name %></h1>

    <p><%= @show.about %></p>

    <% if @show.website_url %><p><%= link_to "Website", @show.website_url %></p><%end%>

    <a class="button green-background">Buy Tickets</a>

  </div>

  <div class="profile-section">

    <h2>Featured Comics</h2>

  </div>





</div>
