<div class="profile-header-banner">

  <div class="profile-title-container">

    <div class="profile-detail-container">

      <h1><%= @show.name %></h1><br>
      <%= link_to "Edit the Show", edit_show_path(@show) %>
    </div>

  </div>

</div>

<br>

<div style="margin: 0 auto; max-width: 600px;">

  <% @show_occurrences.each do |show_occurrence|%>

    <%= render :partial => 'shows/index_show_occurrences', :locals => {:show_occurrence => show_occurrence, :show =>  @show } %>


  <% end %>

</div>
