<div class="bottom-cta-container">

	<a class="bottom-cta button medium yellow-background" <% if user_signed_in? %>href="<%= new_show_path %>"<%else%>href="<%= signup_path %>"<%end%>>+ Add a Show</a>

</div>


