<div class="footer-container">

	<div class="footer-content">

		<ul>
			<li><%= link_to "I'm a Comic", comic_signup_path %></li>
			<li><%= link_to "I'm a Producer", producer_signup_path %></li>
			<li><%= link_to "I'm a Venue", venue_signup_path %></li>

		</ul>


	</div>



</div>
