<div class="header-container">

	<div class="header-options left">

		<ul class="horizontal">

			<li><a>ComedyIndex</a></li>

		</ul>

	</div>


	<div class="header-options right">

		<ul class="horizontal">

			<li><%= link_to "Start Over", root_path %></li>

		</ul>


	</div>




</div>
